<h1>Índice<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Coders" data-toc-modified-id="Coders-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Coders</a></span></li><li><span><a href="#Introducción" data-toc-modified-id="Introducción-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Introducción</a></span><ul class="toc-item"><li><span><a href="#¿Qué-es-Polars?" data-toc-modified-id="¿Qué-es-Polars?-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>¿Qué es Polars?</a></span></li><li><span><a href="#Instalación-de-Polars" data-toc-modified-id="Instalación-de-Polars-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Instalación de Polars</a></span></li><li><span><a href="#Datos-a-usar" data-toc-modified-id="Datos-a-usar-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Datos a usar</a></span></li></ul></li><li><span><a href="#Funciones" data-toc-modified-id="Funciones-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Funciones</a></span><ul class="toc-item"><li><span><a href="#Lectura-y-limpieza-de-datos" data-toc-modified-id="Lectura-y-limpieza-de-datos-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Lectura y limpieza de datos</a></span><ul class="toc-item"><li><span><a href="#Función-pl.read_csv()" data-toc-modified-id="Función-pl.read_csv()-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>Función <code>pl.read_csv()</code></a></span></li><li><span><a href="#Función-pl.null_count()" data-toc-modified-id="Función-pl.null_count()-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>Función <code>pl.null_count()</code></a></span></li></ul></li><li><span><a href="#Medidas-estadísticas" data-toc-modified-id="Medidas-estadísticas-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Medidas estadísticas</a></span><ul class="toc-item"><li><span><a href="#Función-pl.sum()" data-toc-modified-id="Función-pl.sum()-4.2.1"><span class="toc-item-num">4.2.1&nbsp;&nbsp;</span>Función <code>pl.sum()</code></a></span></li><li><span><a href="#Función-pl.mean()" data-toc-modified-id="Función-pl.mean()-4.2.2"><span class="toc-item-num">4.2.2&nbsp;&nbsp;</span>Función <code>pl.mean()</code></a></span></li><li><span><a href="#Función-pl.describe()" data-toc-modified-id="Función-pl.describe()-4.2.3"><span class="toc-item-num">4.2.3&nbsp;&nbsp;</span>Función <code>pl.describe()</code></a></span></li></ul></li><li><span><a href="#Manipulación-de-datos" data-toc-modified-id="Manipulación-de-datos-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Manipulación de datos</a></span><ul class="toc-item"><li><span><a href="#Función-pl.columns" data-toc-modified-id="Función-pl.columns-4.3.1"><span class="toc-item-num">4.3.1&nbsp;&nbsp;</span>Función <code>pl.columns</code></a></span></li><li><span><a href="#Función-pl.select()" data-toc-modified-id="Función-pl.select()-4.3.2"><span class="toc-item-num">4.3.2&nbsp;&nbsp;</span>Función <code>pl.select()</code></a></span><ul class="toc-item"><li><span><a href="#Seleccionando-una-columna" data-toc-modified-id="Seleccionando-una-columna-4.3.2.1"><span class="toc-item-num">4.3.2.1&nbsp;&nbsp;</span>Seleccionando una columna</a></span></li><li><span><a href="#Seleccionando-dos-o-más-columnas" data-toc-modified-id="Seleccionando-dos-o-más-columnas-4.3.2.2"><span class="toc-item-num">4.3.2.2&nbsp;&nbsp;</span>Seleccionando dos o más columnas</a></span></li></ul></li><li><span><a href="#Función-pl.with_columns()" data-toc-modified-id="Función-pl.with_columns()-4.3.3"><span class="toc-item-num">4.3.3&nbsp;&nbsp;</span>Función <code>pl.with_columns()</code></a></span></li><li><span><a href="#Funciones-pl.head()-y-pl.tail()" data-toc-modified-id="Funciones-pl.head()-y-pl.tail()-4.3.4"><span class="toc-item-num">4.3.4&nbsp;&nbsp;</span>Funciones <code>pl.head()</code> y <code>pl.tail()</code></a></span></li><li><span><a href="#Función-df[]" data-toc-modified-id="Función-df[]-4.3.5"><span class="toc-item-num">4.3.5&nbsp;&nbsp;</span>Función <code>df[]</code></a></span><ul class="toc-item"><li><span><a href="#Seleccionando-una-o-varias-columnas" data-toc-modified-id="Seleccionando-una-o-varias-columnas-4.3.5.1"><span class="toc-item-num">4.3.5.1&nbsp;&nbsp;</span>Seleccionando una o varias columnas</a></span></li><li><span><a href="#Seleccionando-una-o-varias-filas" data-toc-modified-id="Seleccionando-una-o-varias-filas-4.3.5.2"><span class="toc-item-num">4.3.5.2&nbsp;&nbsp;</span>Seleccionando una o varias filas</a></span></li><li><span><a href="#Seleccionando-un-dato" data-toc-modified-id="Seleccionando-un-dato-4.3.5.3"><span class="toc-item-num">4.3.5.3&nbsp;&nbsp;</span>Seleccionando un dato</a></span></li></ul></li><li><span><a href="#Función-pl.groupby()" data-toc-modified-id="Función-pl.groupby()-4.3.6"><span class="toc-item-num">4.3.6&nbsp;&nbsp;</span>Función <code>pl.groupby()</code></a></span></li><li><span><a href="#Función-pl.sort()" data-toc-modified-id="Función-pl.sort()-4.3.7"><span class="toc-item-num">4.3.7&nbsp;&nbsp;</span>Función <code>pl.sort()</code></a></span></li><li><span><a href="#Función-pl.exclude()" data-toc-modified-id="Función-pl.exclude()-4.3.8"><span class="toc-item-num">4.3.8&nbsp;&nbsp;</span>Función <code>pl.exclude()</code></a></span></li><li><span><a href="#Función-pl.filter()" data-toc-modified-id="Función-pl.filter()-4.3.9"><span class="toc-item-num">4.3.9&nbsp;&nbsp;</span>Función <code>pl.filter()</code></a></span></li><li><span><a href="#Función-pl.fillna()" data-toc-modified-id="Función-pl.fillna()-4.3.10"><span class="toc-item-num">4.3.10&nbsp;&nbsp;</span>Función <code>pl.fillna()</code></a></span></li><li><span><a href="#Función-pl.drop_nulls()" data-toc-modified-id="Función-pl.drop_nulls()-4.3.11"><span class="toc-item-num">4.3.11&nbsp;&nbsp;</span>Función <code>pl.drop_nulls()</code></a></span></li><li><span><a href="#Función-pl.drop()" data-toc-modified-id="Función-pl.drop()-4.3.12"><span class="toc-item-num">4.3.12&nbsp;&nbsp;</span>Función <code>pl.drop()</code></a></span></li><li><span><a href="#Función-pl.transpose()" data-toc-modified-id="Función-pl.transpose()-4.3.13"><span class="toc-item-num">4.3.13&nbsp;&nbsp;</span>Función <code>pl.transpose()</code></a></span></li><li><span><a href="#Función-pl.rename()" data-toc-modified-id="Función-pl.rename()-4.3.14"><span class="toc-item-num">4.3.14&nbsp;&nbsp;</span>Función <code>pl.rename()</code></a></span></li></ul></li></ul></li></ul></div>

# Guía de uso básica de Polars
------

## Coders
--------------
- Anchante Fernandez, Marcello
- Batalla Flores, Stephano

![](https://raw.githubusercontent.com/pola-rs/polars-static/master/logos/polars_github_logo_rect_dark_name.svg "Logo")

## Introducción
------------

### ¿Qué es Polars?

El paquete Polars es una biblioteca de análisis de datos de código abierto en Python que se centra en la manipulación de datos grandes y complejos. Polars proporciona una alternativa a Pandas y otras bibliotecas de análisis de datos, pero está diseñado específicamente para funcionar con conjuntos de datos más grandes que no caben en la memoria RAM.

Polars ofrece una amplia gama de características para el procesamiento de datos, como la selección, filtrado, agregación y transformación de datos. También proporciona herramientas para la creación de gráficos y visualizaciones de datos.

Una de las características más destacadas de Polars es su capacidad para trabajar con datos que superan los límites de la memoria RAM. Utiliza una estructura de datos llamada DataFrame Lazy-evaluated, que es una representación de datos que solo se carga en la memoria cuando se necesita.

En resumen, el paquete Polars es una biblioteca de análisis de datos de alto rendimiento para Python que se especializa en el procesamiento de grandes conjuntos de datos.

### Instalación de Polars

Para instalar Polars en nuestro sistema, ejecutamos el siguiente código

`!pip install polars`

Para ejecutar el paquete en el proyecto, escribimos el siguiente código

`import polars as pl`

### Datos a usar

Si deseas descargar la data utilizada, haz click en el siguiente [vínculo](https://drive.google.com/file/d/1DMjvgcPAYiO71LhaBxBELpUPnFN-bBHx/view?usp=sharing).

## Funciones 

-------------

### Lectura y limpieza de datos


Al tratarse de un archivo '.csv', utilizaremos la función ```pl.read_csv()``` que nos permitirá leer cualquier archivo de este tipo con facilidad.
En este caso, utilizaremos un archivo local y especificaremos la codificación.
La función ```pl.head()``` nos permite mostrar las primeras 5 filas de la data.

#### Función ```pl.read_csv()```

In [2]:
import polars as pl

df = pl.read_csv('stud_perf_exam.csv',encoding="utf-8")
df

shape: (1_000, 8)
┌────────┬────────────────┬────────────────┬──────────────┬───────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level ┆ lunch        ┆ test          ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ of education   ┆ ---          ┆ preparation   ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---            ┆ str          ┆ course        ┆ i64        ┆ i64           ┆ i64           │
│        ┆                ┆ str            ┆              ┆ ---           ┆            ┆               ┆               │
│        ┆                ┆                ┆              ┆ str           ┆            ┆               ┆               │
╞════════╪════════════════╪════════════════╪══════════════╪═══════════════╪════════════╪═══════════════╪═══════════════╡
│ female ┆ group B        ┆ bachelor's     ┆ standard     ┆ none          ┆ 72         ┆ 72            ┆ 74            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ female ┆ group C        ┆ some college   ┆ standard     ┆ completed     ┆ 69         ┆ 90            ┆ 88            │
│ female ┆ group B        ┆ master's       ┆ standard     ┆ none          ┆ 90         ┆ 95            ┆ 93            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ male   ┆ group A        ┆ associate's    ┆ free/reduced ┆ none          ┆ 47         ┆ 57            ┆ 44            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ …      ┆ …              ┆ …              ┆ …            ┆ …             ┆ …          ┆ …             ┆ …             │
│ male   ┆ group C        ┆ high school    ┆ free/reduced ┆ none          ┆ 62         ┆ 55            ┆ 55            │
│ female ┆ group C        ┆ high school    ┆ free/reduced ┆ completed     ┆ 59         ┆ 71            ┆ 65            │
│ female ┆ group D        ┆ some college   ┆ standard     ┆ completed     ┆ 68         ┆ 78            ┆ 77            │
│ female ┆ group D        ┆ some college   ┆ free/reduced ┆ none          ┆ 77         ┆ 86            ┆ 86            │
└────────┴────────────────┴────────────────┴──────────────┴───────────────┴────────────┴───────────────┴───────────────┘

#### Función `pl.null_count()`

Nos permite contar el número de valores perdidos. En caso de Polars, los valores perdidos son considerados `null`.

In [26]:
df.null_count()

shape: (1, 8)
┌────────┬────────────────┬───────────────────┬───────┬───────────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level of ┆ lunch ┆ test preparation  ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ education         ┆ ---   ┆ course            ┆ ---        ┆ ---           ┆ ---           │
│ u32    ┆ u32            ┆ ---               ┆ u32   ┆ ---               ┆ u32        ┆ u32           ┆ u32           │
│        ┆                ┆ u32               ┆       ┆ u32               ┆            ┆               ┆               │
╞════════╪════════════════╪═══════════════════╪═══════╪═══════════════════╪════════════╪═══════════════╪═══════════════╡
│ 0      ┆ 0              ┆ 0                 ┆ 0     ┆ 0                 ┆ 0          ┆ 0             ┆ 0             │
└────────┴────────────────┴───────────────────┴───────┴───────────────────┴────────────┴───────────────┴───────────────┘

------------
### Medidas estadísticas

#### Función `pl.sum()`

Si deseamos sumar los valores de las columnas, la función `pl.sum()` nos mostrará la suma total en una tabla.

In [3]:
df.sum()

shape: (1, 8)
┌────────┬────────────────┬───────────────────┬───────┬───────────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level of ┆ lunch ┆ test preparation  ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ education         ┆ ---   ┆ course            ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---               ┆ str   ┆ ---               ┆ i64        ┆ i64           ┆ i64           │
│        ┆                ┆ str               ┆       ┆ str               ┆            ┆               ┆               │
╞════════╪════════════════╪═══════════════════╪═══════╪═══════════════════╪════════════╪═══════════════╪═══════════════╡
│ null   ┆ null           ┆ null              ┆ null  ┆ null              ┆ 66089      ┆ 69169         ┆ 68054         │
└────────┴────────────────┴───────────────────┴───────┴───────────────────┴────────────┴───────────────┴───────────────┘

#### Función `pl.mean()`

Si deseamos mostrar los promedios de los valores de las columnas, la función `pl.mean()` nos mostrará cada promedio en una tabla.

In [4]:
df.mean()

shape: (1, 8)
┌────────┬────────────────┬───────────────────┬───────┬───────────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level of ┆ lunch ┆ test preparation  ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ education         ┆ ---   ┆ course            ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---               ┆ str   ┆ ---               ┆ f64        ┆ f64           ┆ f64           │
│        ┆                ┆ str               ┆       ┆ str               ┆            ┆               ┆               │
╞════════╪════════════════╪═══════════════════╪═══════╪═══════════════════╪════════════╪═══════════════╪═══════════════╡
│ null   ┆ null           ┆ null              ┆ null  ┆ null              ┆ 66.089     ┆ 69.169        ┆ 68.054        │
└────────┴────────────────┴───────────────────┴───────┴───────────────────┴────────────┴───────────────┴───────────────┘

#### Función `pl.describe()`

Para tener medidas estadísticas de los datos como el número de datos, los datos nulos, media, mediana, etc; utilizaremos la función ```pl.describe()```.

In [24]:
df.describe()

shape: (9, 9)
┌────────────┬────────┬───────────────┬───────────────┬───┬───────────────┬────────────┬───────────────┬───────────────┐
│ describe   ┆ gender ┆ race/ethnicit ┆ parental      ┆ … ┆ test          ┆ math score ┆ reading score ┆ writing score │
│ ---        ┆ ---    ┆ y             ┆ level of      ┆   ┆ preparation   ┆ ---        ┆ ---           ┆ ---           │
│ str        ┆ str    ┆ ---           ┆ education     ┆   ┆ course        ┆ f64        ┆ f64           ┆ f64           │
│            ┆        ┆ str           ┆ ---           ┆   ┆ ---           ┆            ┆               ┆               │
│            ┆        ┆               ┆ str           ┆   ┆ str           ┆            ┆               ┆               │
╞════════════╪════════╪═══════════════╪═══════════════╪═══╪═══════════════╪════════════╪═══════════════╪═══════════════╡
│ count      ┆ 1000   ┆ 1000          ┆ 1000          ┆ … ┆ 1000          ┆ 1000.0     ┆ 1000.0        ┆ 1000.0        │
│ null_count ┆ 0      ┆ 0             ┆ 0             ┆ … ┆ 0             ┆ 0.0        ┆ 0.0           ┆ 0.0           │
│ mean       ┆ null   ┆ null          ┆ null          ┆ … ┆ null          ┆ 66.089     ┆ 69.169        ┆ 68.054        │
│ std        ┆ null   ┆ null          ┆ null          ┆ … ┆ null          ┆ 15.16308   ┆ 14.600192     ┆ 15.195657     │
│ min        ┆ female ┆ group A       ┆ associate's   ┆ … ┆ completed     ┆ 0.0        ┆ 17.0          ┆ 10.0          │
│            ┆        ┆               ┆ degree        ┆   ┆               ┆            ┆               ┆               │
│ max        ┆ male   ┆ group E       ┆ some high     ┆ … ┆ none          ┆ 100.0      ┆ 100.0         ┆ 100.0         │
│            ┆        ┆               ┆ school        ┆   ┆               ┆            ┆               ┆               │
│ median     ┆ null   ┆ null          ┆ null          ┆ … ┆ null          ┆ 66.0       ┆ 70.0          ┆ 69.0          │
│ 25%        ┆ null   ┆ null          ┆ null          ┆ … ┆ null          ┆ 57.0       ┆ 59.0          ┆ 58.0          │
│ 75%        ┆ null   ┆ null          ┆ null          ┆ … ┆ null          ┆ 77.0       ┆ 79.0          ┆ 79.0          │
└────────────┴────────┴───────────────┴───────────────┴───┴───────────────┴────────────┴───────────────┴───────────────┘

-----------
### Manipulación de datos

#### Función `pl.columns`

Si deseamos tener la lista de las variables del archivo, escribimos `pl.columns`.

In [23]:
df.columns

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

#### Función `pl.select()`
Si deseamos seleccionar una o más columnas de la data, utilizamos la función `df.select(pl.col())`

##### Seleccionando una columna
Si solo deseamos seleccionar una columna, utilizamos `df.select(pl.col('NOMBRE DE LA COLUMNA'))`

In [53]:
df.select('gender')

shape: (1_000, 1)
┌────────┐
│ gender │
│ ---    │
│ str    │
╞════════╡
│ female │
│ female │
│ female │
│ male   │
│ …      │
│ male   │
│ female │
│ female │
│ female │
└────────┘

##### Seleccionando dos o más columnas
Si deseamos seleccionar varias columnas, utilizamos `df.select(pl.col(['nombre columna 1','nombre columna 2',...))`

In [54]:
df.select(['gender','math score'])

shape: (1_000, 2)
┌────────┬────────────┐
│ gender ┆ math score │
│ ---    ┆ ---        │
│ str    ┆ i64        │
╞════════╪════════════╡
│ female ┆ 72         │
│ female ┆ 69         │
│ female ┆ 90         │
│ male   ┆ 47         │
│ …      ┆ …          │
│ male   ┆ 62         │
│ female ┆ 59         │
│ female ┆ 68         │
│ female ┆ 77         │
└────────┴────────────┘

#### Función `pl.with_columns()`

Si deseamos crear una nueva columna con valores de otras columnas, utilizamos `df.with_columns()`.
En este caso, crearemos una columna con los promedios de las notas de matemáticas, lectura e escritura.

In [41]:
df.with_columns(((
                pl.col('math score') +
                pl.col('reading score') +
                pl.col('writing score'))/3).alias('Promedio'))

shape: (1_000, 9)
┌────────┬────────────────┬────────────────┬──────────────┬───┬────────────┬───────────────┬───────────────┬───────────┐
│ gender ┆ race/ethnicity ┆ parental level ┆ lunch        ┆ … ┆ math score ┆ reading score ┆ writing score ┆ Promedio  │
│ ---    ┆ ---            ┆ of education   ┆ ---          ┆   ┆ ---        ┆ ---           ┆ ---           ┆ ---       │
│ str    ┆ str            ┆ ---            ┆ str          ┆   ┆ i64        ┆ i64           ┆ i64           ┆ f64       │
│        ┆                ┆ str            ┆              ┆   ┆            ┆               ┆               ┆           │
╞════════╪════════════════╪════════════════╪══════════════╪═══╪════════════╪═══════════════╪═══════════════╪═══════════╡
│ female ┆ group B        ┆ bachelor's     ┆ standard     ┆ … ┆ 72         ┆ 72            ┆ 74            ┆ 72.666667 │
│        ┆                ┆ degree         ┆              ┆   ┆            ┆               ┆               ┆           │
│ female ┆ group C        ┆ some college   ┆ standard     ┆ … ┆ 69         ┆ 90            ┆ 88            ┆ 82.333333 │
│ female ┆ group B        ┆ master's       ┆ standard     ┆ … ┆ 90         ┆ 95            ┆ 93            ┆ 92.666667 │
│        ┆                ┆ degree         ┆              ┆   ┆            ┆               ┆               ┆           │
│ male   ┆ group A        ┆ associate's    ┆ free/reduced ┆ … ┆ 47         ┆ 57            ┆ 44            ┆ 49.333333 │
│        ┆                ┆ degree         ┆              ┆   ┆            ┆               ┆               ┆           │
│ …      ┆ …              ┆ …              ┆ …            ┆ … ┆ …          ┆ …             ┆ …             ┆ …         │
│ male   ┆ group C        ┆ high school    ┆ free/reduced ┆ … ┆ 62         ┆ 55            ┆ 55            ┆ 57.333333 │
│ female ┆ group C        ┆ high school    ┆ free/reduced ┆ … ┆ 59         ┆ 71            ┆ 65            ┆ 65.0      │
│ female ┆ group D        ┆ some college   ┆ standard     ┆ … ┆ 68         ┆ 78            ┆ 77            ┆ 74.333333 │
│ female ┆ group D        ┆ some college   ┆ free/reduced ┆ … ┆ 77         ┆ 86            ┆ 86            ┆ 83.0      │
└────────┴────────────────┴────────────────┴──────────────┴───┴────────────┴───────────────┴───────────────┴───────────┘

#### Funciones `pl.head()` y `pl.tail()`

Si deseamos ver los primeros datos de una data, utilizamos `df.head()`. En caso contrario, si deseamos ver los últimos datos, utilizamos `df.tail()`.

In [77]:
df.head()

shape: (5, 8)
┌────────┬────────────────┬────────────────┬──────────────┬───────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level ┆ lunch        ┆ test          ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ of education   ┆ ---          ┆ preparation   ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---            ┆ str          ┆ course        ┆ i64        ┆ i64           ┆ i64           │
│        ┆                ┆ str            ┆              ┆ ---           ┆            ┆               ┆               │
│        ┆                ┆                ┆              ┆ str           ┆            ┆               ┆               │
╞════════╪════════════════╪════════════════╪══════════════╪═══════════════╪════════════╪═══════════════╪═══════════════╡
│ female ┆ group B        ┆ bachelor's     ┆ standard     ┆ none          ┆ 72         ┆ 72            ┆ 74            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ female ┆ group C        ┆ some college   ┆ standard     ┆ completed     ┆ 69         ┆ 90            ┆ 88            │
│ female ┆ group B        ┆ master's       ┆ standard     ┆ none          ┆ 90         ┆ 95            ┆ 93            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ male   ┆ group A        ┆ associate's    ┆ free/reduced ┆ none          ┆ 47         ┆ 57            ┆ 44            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ male   ┆ group C        ┆ some college   ┆ standard     ┆ none          ┆ 76         ┆ 78            ┆ 75            │
└────────┴────────────────┴────────────────┴──────────────┴───────────────┴────────────┴───────────────┴───────────────┘

In [46]:
df.tail()

shape: (5, 8)
┌────────┬────────────────┬────────────────┬──────────────┬───────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level ┆ lunch        ┆ test          ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ of education   ┆ ---          ┆ preparation   ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---            ┆ str          ┆ course        ┆ i64        ┆ i64           ┆ i64           │
│        ┆                ┆ str            ┆              ┆ ---           ┆            ┆               ┆               │
│        ┆                ┆                ┆              ┆ str           ┆            ┆               ┆               │
╞════════╪════════════════╪════════════════╪══════════════╪═══════════════╪════════════╪═══════════════╪═══════════════╡
│ female ┆ group E        ┆ master's       ┆ standard     ┆ completed     ┆ 88         ┆ 99            ┆ 95            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ male   ┆ group C        ┆ high school    ┆ free/reduced ┆ none          ┆ 62         ┆ 55            ┆ 55            │
│ female ┆ group C        ┆ high school    ┆ free/reduced ┆ completed     ┆ 59         ┆ 71            ┆ 65            │
│ female ┆ group D        ┆ some college   ┆ standard     ┆ completed     ┆ 68         ┆ 78            ┆ 77            │
│ female ┆ group D        ┆ some college   ┆ free/reduced ┆ none          ┆ 77         ┆ 86            ┆ 86            │
└────────┴────────────────┴────────────────┴──────────────┴───────────────┴────────────┴───────────────┴───────────────┘

#### Función `df[]`

Mientas función `pl.select()` nos permite seleccionar columnas, la función `df[]` nos permite seleccionar columnas, filas o datos de la tabla en específico.

##### Seleccionando una o varias columnas

In [78]:
df[: ,1:3].head()

shape: (5, 2)
┌────────────────┬─────────────────────────────┐
│ race/ethnicity ┆ parental level of education │
│ ---            ┆ ---                         │
│ str            ┆ str                         │
╞════════════════╪═════════════════════════════╡
│ group B        ┆ bachelor's degree           │
│ group C        ┆ some college                │
│ group B        ┆ master's degree             │
│ group A        ┆ associate's degree          │
│ group C        ┆ some college                │
└────────────────┴─────────────────────────────┘

In [79]:
df[:,['race/ethnicity','gender']].head()

shape: (5, 2)
┌────────────────┬────────┐
│ race/ethnicity ┆ gender │
│ ---            ┆ ---    │
│ str            ┆ str    │
╞════════════════╪════════╡
│ group B        ┆ female │
│ group C        ┆ female │
│ group B        ┆ female │
│ group A        ┆ male   │
│ group C        ┆ male   │
└────────────────┴────────┘

##### Seleccionando una o varias filas

In [93]:
df[4:10,:]

shape: (6, 8)
┌────────┬────────────────┬────────────────┬──────────────┬───────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level ┆ lunch        ┆ test          ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ of education   ┆ ---          ┆ preparation   ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---            ┆ str          ┆ course        ┆ i64        ┆ i64           ┆ i64           │
│        ┆                ┆ str            ┆              ┆ ---           ┆            ┆               ┆               │
│        ┆                ┆                ┆              ┆ str           ┆            ┆               ┆               │
╞════════╪════════════════╪════════════════╪══════════════╪═══════════════╪════════════╪═══════════════╪═══════════════╡
│ male   ┆ group C        ┆ some college   ┆ standard     ┆ none          ┆ 76         ┆ 78            ┆ 75            │
│ female ┆ group B        ┆ associate's    ┆ standard     ┆ none          ┆ 71         ┆ 83            ┆ 78            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ female ┆ group B        ┆ some college   ┆ standard     ┆ completed     ┆ 88         ┆ 95            ┆ 92            │
│ male   ┆ group B        ┆ some college   ┆ free/reduced ┆ none          ┆ 40         ┆ 43            ┆ 39            │
│ male   ┆ group D        ┆ high school    ┆ free/reduced ┆ completed     ┆ 64         ┆ 64            ┆ 67            │
│ female ┆ group B        ┆ high school    ┆ free/reduced ┆ none          ┆ 38         ┆ 60            ┆ 50            │
└────────┴────────────────┴────────────────┴──────────────┴───────────────┴────────────┴───────────────┴───────────────┘

##### Seleccionando un dato

In [95]:
df.head()

shape: (5, 8)
┌────────┬────────────────┬────────────────┬──────────────┬───────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level ┆ lunch        ┆ test          ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ of education   ┆ ---          ┆ preparation   ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---            ┆ str          ┆ course        ┆ i64        ┆ i64           ┆ i64           │
│        ┆                ┆ str            ┆              ┆ ---           ┆            ┆               ┆               │
│        ┆                ┆                ┆              ┆ str           ┆            ┆               ┆               │
╞════════╪════════════════╪════════════════╪══════════════╪═══════════════╪════════════╪═══════════════╪═══════════════╡
│ female ┆ group B        ┆ bachelor's     ┆ standard     ┆ none          ┆ 72         ┆ 72            ┆ 74            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ female ┆ group C        ┆ some college   ┆ standard     ┆ completed     ┆ 69         ┆ 90            ┆ 88            │
│ female ┆ group B        ┆ master's       ┆ standard     ┆ none          ┆ 90         ┆ 95            ┆ 93            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ male   ┆ group A        ┆ associate's    ┆ free/reduced ┆ none          ┆ 47         ┆ 57            ┆ 44            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ male   ┆ group C        ┆ some college   ┆ standard     ┆ none          ┆ 76         ┆ 78            ┆ 75            │
└────────┴────────────────┴────────────────┴──────────────┴───────────────┴────────────┴───────────────┴───────────────┘

In [98]:
df[0,3]

'standard'

In [100]:
df[0,'lunch']

'standard'

#### Función `pl.groupby()`

Si deseamos agrupar datos y hallar alguna medida estadística, podemos utilizar `pl.groupby()` especificando la columna dentro de los paréntesis. En este caso, mostrará los tipos de variables de la columna 'lunch' y sus respectivos promedios respecto a cada materia.

In [7]:
df.groupby('lunch').mean()

shape: (2, 8)
┌──────────────┬────────┬──────────────────┬───────────┬──────────────────┬────────────┬───────────────┬───────────────┐
│ lunch        ┆ gender ┆ race/ethnicity   ┆ parental  ┆ test preparation ┆ math score ┆ reading score ┆ writing score │
│ ---          ┆ ---    ┆ ---              ┆ level of  ┆ course           ┆ ---        ┆ ---           ┆ ---           │
│ str          ┆ str    ┆ str              ┆ education ┆ ---              ┆ f64        ┆ f64           ┆ f64           │
│              ┆        ┆                  ┆ ---       ┆ str              ┆            ┆               ┆               │
│              ┆        ┆                  ┆ str       ┆                  ┆            ┆               ┆               │
╞══════════════╪════════╪══════════════════╪═══════════╪══════════════════╪════════════╪═══════════════╪═══════════════╡
│ standard     ┆ null   ┆ null             ┆ null      ┆ null             ┆ 70.034109  ┆ 71.654264     ┆ 70.823256     │
│ free/reduced ┆ null   ┆ null             ┆ null      ┆ null             ┆ 58.921127  ┆ 64.653521     ┆ 63.022535     │
└──────────────┴────────┴──────────────────┴───────────┴──────────────────┴────────────┴───────────────┴───────────────┘

#### Función `pl.sort()`

Si deseamos ordenar los valores de la tabla respecto a un valores cuantitativo de una columna, la función `pl.sort()` nos permite hacer esto de manera descendente y ascendente por defecto.

In [13]:
df.sort('math score').head()

shape: (5, 8)
┌────────┬────────────────┬────────────────┬──────────────┬───────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level ┆ lunch        ┆ test          ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ of education   ┆ ---          ┆ preparation   ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---            ┆ str          ┆ course        ┆ i64        ┆ i64           ┆ i64           │
│        ┆                ┆ str            ┆              ┆ ---           ┆            ┆               ┆               │
│        ┆                ┆                ┆              ┆ str           ┆            ┆               ┆               │
╞════════╪════════════════╪════════════════╪══════════════╪═══════════════╪════════════╪═══════════════╪═══════════════╡
│ female ┆ group C        ┆ some high      ┆ free/reduced ┆ none          ┆ 0          ┆ 17            ┆ 10            │
│        ┆                ┆ school         ┆              ┆               ┆            ┆               ┆               │
│ female ┆ group B        ┆ high school    ┆ free/reduced ┆ none          ┆ 8          ┆ 24            ┆ 23            │
│ female ┆ group B        ┆ some high      ┆ free/reduced ┆ none          ┆ 18         ┆ 32            ┆ 28            │
│        ┆                ┆ school         ┆              ┆               ┆            ┆               ┆               │
│ female ┆ group B        ┆ some college   ┆ standard     ┆ none          ┆ 19         ┆ 38            ┆ 32            │
│ female ┆ group C        ┆ some college   ┆ free/reduced ┆ none          ┆ 22         ┆ 39            ┆ 33            │
└────────┴────────────────┴────────────────┴──────────────┴───────────────┴────────────┴───────────────┴───────────────┘

In [11]:
df.sort('math score',descending=True).head()

shape: (5, 8)
┌────────┬────────────────┬────────────────┬──────────────┬───────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level ┆ lunch        ┆ test          ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ of education   ┆ ---          ┆ preparation   ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---            ┆ str          ┆ course        ┆ i64        ┆ i64           ┆ i64           │
│        ┆                ┆ str            ┆              ┆ ---           ┆            ┆               ┆               │
│        ┆                ┆                ┆              ┆ str           ┆            ┆               ┆               │
╞════════╪════════════════╪════════════════╪══════════════╪═══════════════╪════════════╪═══════════════╪═══════════════╡
│ male   ┆ group E        ┆ associate's    ┆ free/reduced ┆ completed     ┆ 100        ┆ 100           ┆ 93            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ female ┆ group E        ┆ some college   ┆ standard     ┆ none          ┆ 100        ┆ 92            ┆ 97            │
│ female ┆ group E        ┆ bachelor's     ┆ standard     ┆ none          ┆ 100        ┆ 100           ┆ 100           │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ male   ┆ group A        ┆ some college   ┆ standard     ┆ completed     ┆ 100        ┆ 96            ┆ 86            │
│ male   ┆ group D        ┆ some college   ┆ standard     ┆ completed     ┆ 100        ┆ 97            ┆ 99            │
└────────┴────────────────┴────────────────┴──────────────┴───────────────┴────────────┴───────────────┴───────────────┘

#### Función `pl.exclude()`

Si deseamos excluir una columna de la tabla, utilizamos `pl.exclude()`.

In [16]:
df.select([pl.exclude('gender')])

shape: (1_000, 7)
┌────────────────┬────────────────────┬──────────────┬────────────────────┬────────────┬───────────────┬───────────────┐
│ race/ethnicity ┆ parental level of  ┆ lunch        ┆ test preparation   ┆ math score ┆ reading score ┆ writing score │
│ ---            ┆ education          ┆ ---          ┆ course             ┆ ---        ┆ ---           ┆ ---           │
│ str            ┆ ---                ┆ str          ┆ ---                ┆ i64        ┆ i64           ┆ i64           │
│                ┆ str                ┆              ┆ str                ┆            ┆               ┆               │
╞════════════════╪════════════════════╪══════════════╪════════════════════╪════════════╪═══════════════╪═══════════════╡
│ group B        ┆ bachelor's degree  ┆ standard     ┆ none               ┆ 72         ┆ 72            ┆ 74            │
│ group C        ┆ some college       ┆ standard     ┆ completed          ┆ 69         ┆ 90            ┆ 88            │
│ group B        ┆ master's degree    ┆ standard     ┆ none               ┆ 90         ┆ 95            ┆ 93            │
│ group A        ┆ associate's degree ┆ free/reduced ┆ none               ┆ 47         ┆ 57            ┆ 44            │
│ …              ┆ …                  ┆ …            ┆ …                  ┆ …          ┆ …             ┆ …             │
│ group C        ┆ high school        ┆ free/reduced ┆ none               ┆ 62         ┆ 55            ┆ 55            │
│ group C        ┆ high school        ┆ free/reduced ┆ completed          ┆ 59         ┆ 71            ┆ 65            │
│ group D        ┆ some college       ┆ standard     ┆ completed          ┆ 68         ┆ 78            ┆ 77            │
│ group D        ┆ some college       ┆ free/reduced ┆ none               ┆ 77         ┆ 86            ┆ 86            │
└────────────────┴────────────────────┴──────────────┴────────────────────┴────────────┴───────────────┴───────────────┘

#### Función `pl.filter()`

Nos permite filtrar tablas con varias restricciones.

In [22]:
df.filter((pl.col('math score') > 90) & (pl.col('race/ethnicity') == 'group A'))

shape: (4, 8)
┌────────┬────────────────┬──────────────────────┬──────────┬─────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level of    ┆ lunch    ┆ test        ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ education            ┆ ---      ┆ preparation ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---                  ┆ str      ┆ course      ┆ i64        ┆ i64           ┆ i64           │
│        ┆                ┆ str                  ┆          ┆ ---         ┆            ┆               ┆               │
│        ┆                ┆                      ┆          ┆ str         ┆            ┆               ┆               │
╞════════╪════════════════╪══════════════════════╪══════════╪═════════════╪════════════╪═══════════════╪═══════════════╡
│ male   ┆ group A        ┆ associate's degree   ┆ standard ┆ completed   ┆ 97         ┆ 92            ┆ 86            │
│ female ┆ group A        ┆ some high school     ┆ standard ┆ completed   ┆ 92         ┆ 100           ┆ 97            │
│ male   ┆ group A        ┆ bachelor's degree    ┆ standard ┆ none        ┆ 91         ┆ 96            ┆ 92            │
│ male   ┆ group A        ┆ some college         ┆ standard ┆ completed   ┆ 100        ┆ 96            ┆ 86            │
└────────┴────────────────┴──────────────────────┴──────────┴─────────────┴────────────┴───────────────┴───────────────┘

#### Función `pl.fillna()`

La función permite completar los espacios vacíos o null con una caracter de nuestra preferencia.

In [27]:
datos = pl.DataFrame(
    {"col1":[1,2,3,4,5,6],
     "col2":[1,None,3,10,None,None]})

datos

shape: (6, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ i64  │
╞══════╪══════╡
│ 1    ┆ 1    │
│ 2    ┆ null │
│ 3    ┆ 3    │
│ 4    ┆ 10   │
│ 5    ┆ null │
│ 6    ┆ null │
└──────┴──────┘

In [32]:
datos.with_columns(pl.col("col2").fill_null(pl.lit(2)))

shape: (6, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ i64  │
╞══════╪══════╡
│ 1    ┆ 1    │
│ 2    ┆ 2    │
│ 3    ┆ 3    │
│ 4    ┆ 10   │
│ 5    ┆ 2    │
│ 6    ┆ 2    │
└──────┴──────┘

#### Función `pl.drop_nulls()`

In [34]:
datos

shape: (6, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ i64  │
╞══════╪══════╡
│ 1    ┆ 1    │
│ 2    ┆ null │
│ 3    ┆ 3    │
│ 4    ┆ 10   │
│ 5    ┆ null │
│ 6    ┆ null │
└──────┴──────┘

In [33]:
datos.drop_nulls()

shape: (3, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ i64  │
╞══════╪══════╡
│ 1    ┆ 1    │
│ 3    ┆ 3    │
│ 4    ┆ 10   │
└──────┴──────┘

#### Función `pl.drop()`

Nos permite eliminar columnas.

In [43]:
df.head()

shape: (5, 8)
┌────────┬────────────────┬────────────────┬──────────────┬───────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level ┆ lunch        ┆ test          ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ of education   ┆ ---          ┆ preparation   ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---            ┆ str          ┆ course        ┆ i64        ┆ i64           ┆ i64           │
│        ┆                ┆ str            ┆              ┆ ---           ┆            ┆               ┆               │
│        ┆                ┆                ┆              ┆ str           ┆            ┆               ┆               │
╞════════╪════════════════╪════════════════╪══════════════╪═══════════════╪════════════╪═══════════════╪═══════════════╡
│ female ┆ group B        ┆ bachelor's     ┆ standard     ┆ none          ┆ 72         ┆ 72            ┆ 74            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ female ┆ group C        ┆ some college   ┆ standard     ┆ completed     ┆ 69         ┆ 90            ┆ 88            │
│ female ┆ group B        ┆ master's       ┆ standard     ┆ none          ┆ 90         ┆ 95            ┆ 93            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ male   ┆ group A        ┆ associate's    ┆ free/reduced ┆ none          ┆ 47         ┆ 57            ┆ 44            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ male   ┆ group C        ┆ some college   ┆ standard     ┆ none          ┆ 76         ┆ 78            ┆ 75            │
└────────┴────────────────┴────────────────┴──────────────┴───────────────┴────────────┴───────────────┴───────────────┘

In [44]:
df.drop('parental level of education').head()

shape: (5, 7)
┌────────┬────────────────┬──────────────┬─────────────────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ lunch        ┆ test preparation course ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ ---          ┆ ---                     ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ str          ┆ str                     ┆ i64        ┆ i64           ┆ i64           │
╞════════╪════════════════╪══════════════╪═════════════════════════╪════════════╪═══════════════╪═══════════════╡
│ female ┆ group B        ┆ standard     ┆ none                    ┆ 72         ┆ 72            ┆ 74            │
│ female ┆ group C        ┆ standard     ┆ completed               ┆ 69         ┆ 90            ┆ 88            │
│ female ┆ group B        ┆ standard     ┆ none                    ┆ 90         ┆ 95            ┆ 93            │
│ male   ┆ group A        ┆ free/reduced ┆ none                    ┆ 47         ┆ 57            ┆ 44            │
│ male   ┆ group C        ┆ standard     ┆ none                    ┆ 76         ┆ 78            ┆ 75            │
└────────┴────────────────┴──────────────┴─────────────────────────┴────────────┴───────────────┴───────────────┘

#### Función `pl.transpose()`

Nos permite convertir filas en columnas y columnas en filas.

In [47]:
df.transpose(include_header=True)

shape: (8, 1_001)
┌──────────────┬──────────────┬──────────────┬──────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ column       ┆ column_0     ┆ column_1     ┆ column_2 ┆ … ┆ column_996   ┆ column_997   ┆ column_998   ┆ column_999  │
│ ---          ┆ ---          ┆ ---          ┆ ---      ┆   ┆ ---          ┆ ---          ┆ ---          ┆ ---         │
│ str          ┆ str          ┆ str          ┆ str      ┆   ┆ str          ┆ str          ┆ str          ┆ str         │
╞══════════════╪══════════════╪══════════════╪══════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ gender       ┆ female       ┆ female       ┆ female   ┆ … ┆ male         ┆ female       ┆ female       ┆ female      │
│ race/ethnici ┆ group B      ┆ group C      ┆ group B  ┆ … ┆ group C      ┆ group C      ┆ group D      ┆ group D     │
│ ty           ┆              ┆              ┆          ┆   ┆              ┆              ┆              ┆             │
│ parental     ┆ bachelor's   ┆ some college ┆ master's ┆ … ┆ high school  ┆ high school  ┆ some college ┆ some        │
│ level of     ┆ degree       ┆              ┆ degree   ┆   ┆              ┆              ┆              ┆ college     │
│ education    ┆              ┆              ┆          ┆   ┆              ┆              ┆              ┆             │
│ lunch        ┆ standard     ┆ standard     ┆ standard ┆ … ┆ free/reduced ┆ free/reduced ┆ standard     ┆ free/reduce │
│              ┆              ┆              ┆          ┆   ┆              ┆              ┆              ┆ d           │
│ test         ┆ none         ┆ completed    ┆ none     ┆ … ┆ none         ┆ completed    ┆ completed    ┆ none        │
│ preparation  ┆              ┆              ┆          ┆   ┆              ┆              ┆              ┆             │
│ course       ┆              ┆              ┆          ┆   ┆              ┆              ┆              ┆             │
│ math score   ┆ 72           ┆ 69           ┆ 90       ┆ … ┆ 62           ┆ 59           ┆ 68           ┆ 77          │
│ reading      ┆ 72           ┆ 90           ┆ 95       ┆ … ┆ 55           ┆ 71           ┆ 78           ┆ 86          │
│ score        ┆              ┆              ┆          ┆   ┆              ┆              ┆              ┆             │
│ writing      ┆ 74           ┆ 88           ┆ 93       ┆ … ┆ 55           ┆ 65           ┆ 77           ┆ 86          │
│ score        ┆              ┆              ┆          ┆   ┆              ┆              ┆              ┆             │
└──────────────┴──────────────┴──────────────┴──────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

#### Función `pl.rename()`

Nos permite renombrar las columnas.

In [50]:
df.columns

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

In [52]:
df.rename({'gender':'genero',
           'race/ethnicity':'raza/etnia',
           'parental level of education':'nivel de educacion de los padres',
           'lunch':'almuerzo', 
           'test preparation course':'test de preparacion de curso',
           'math score':'notas de matematicas', 
           'reading score':'notas de lectura' , 
           'writing score':'notas de escritura'})

shape: (1_000, 8)
┌────────┬────────────┬──────────────────────┬──────────────┬─────────────────────┬─────────────┬──────────┬───────────┐
│ genero ┆ raza/etnia ┆ nivel de educacion   ┆ almuerzo     ┆ test de preparacion ┆ notas de    ┆ notas de ┆ notas de  │
│ ---    ┆ ---        ┆ de los padres        ┆ ---          ┆ de curso            ┆ matematicas ┆ lectura  ┆ escritura │
│ str    ┆ str        ┆ ---                  ┆ str          ┆ ---                 ┆ ---         ┆ ---      ┆ ---       │
│        ┆            ┆ str                  ┆              ┆ str                 ┆ i64         ┆ i64      ┆ i64       │
╞════════╪════════════╪══════════════════════╪══════════════╪═════════════════════╪═════════════╪══════════╪═══════════╡
│ female ┆ group B    ┆ bachelor's degree    ┆ standard     ┆ none                ┆ 72          ┆ 72       ┆ 74        │
│ female ┆ group C    ┆ some college         ┆ standard     ┆ completed           ┆ 69          ┆ 90       ┆ 88        │
│ female ┆ group B    ┆ master's degree      ┆ standard     ┆ none                ┆ 90          ┆ 95       ┆ 93        │
│ male   ┆ group A    ┆ associate's degree   ┆ free/reduced ┆ none                ┆ 47          ┆ 57       ┆ 44        │
│ …      ┆ …          ┆ …                    ┆ …            ┆ …                   ┆ …           ┆ …        ┆ …         │
│ male   ┆ group C    ┆ high school          ┆ free/reduced ┆ none                ┆ 62          ┆ 55       ┆ 55        │
│ female ┆ group C    ┆ high school          ┆ free/reduced ┆ completed           ┆ 59          ┆ 71       ┆ 65        │
│ female ┆ group D    ┆ some college         ┆ standard     ┆ completed           ┆ 68          ┆ 78       ┆ 77        │
│ female ┆ group D    ┆ some college         ┆ free/reduced ┆ none                ┆ 77          ┆ 86       ┆ 86        │
└────────┴────────────┴──────────────────────┴──────────────┴─────────────────────┴─────────────┴──────────┴───────────┘

----------------