<h1>Índice<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Coders" data-toc-modified-id="Coders-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Coders</a></span></li><li><span><a href="#Introducción" data-toc-modified-id="Introducción-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Introducción</a></span><ul class="toc-item"><li><span><a href="#¿Qué-es-Polars?" data-toc-modified-id="¿Qué-es-Polars?-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>¿Qué es Polars?</a></span></li><li><span><a href="#Instalación-de-Polars" data-toc-modified-id="Instalación-de-Polars-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Instalación de Polars</a></span></li><li><span><a href="#Datos-a-usar" data-toc-modified-id="Datos-a-usar-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Datos a usar</a></span></li></ul></li><li><span><a href="#Funciones" data-toc-modified-id="Funciones-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Funciones</a></span><ul class="toc-item"><li><span><a href="#Función-pl.read_csv()" data-toc-modified-id="Función-pl.read_csv()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Función <code>pl.read_csv()</code></a></span></li><li><span><a href="#Función-pl.columns" data-toc-modified-id="Función-pl.columns-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Función <code>pl.columns</code></a></span></li><li><span><a href="#Función-pl.describe()" data-toc-modified-id="Función-pl.describe()-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Función <code>pl.describe()</code></a></span></li><li><span><a href="#Función-pl.select()" data-toc-modified-id="Función-pl.select()-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Función <code>pl.select()</code></a></span><ul class="toc-item"><li><span><a href="#Seleccionando-una-columna" data-toc-modified-id="Seleccionando-una-columna-4.4.1"><span class="toc-item-num">4.4.1&nbsp;&nbsp;</span>Seleccionando una columna</a></span></li><li><span><a href="#Seleccionando-dos-o-más-columnas" data-toc-modified-id="Seleccionando-dos-o-más-columnas-4.4.2"><span class="toc-item-num">4.4.2&nbsp;&nbsp;</span>Seleccionando dos o más columnas</a></span></li></ul></li><li><span><a href="#Función-pl.with_columns()" data-toc-modified-id="Función-pl.with_columns()-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Función <code>pl.with_columns()</code></a></span></li><li><span><a href="#Funciones-pl.head()-y-pl.tail()" data-toc-modified-id="Funciones-pl.head()-y-pl.tail()-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>Funciones <code>pl.head()</code> y <code>pl.tail()</code></a></span></li><li><span><a href="#Función-df[]" data-toc-modified-id="Función-df[]-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>Función <code>df[]</code></a></span><ul class="toc-item"><li><span><a href="#Seleccionando-una-o-varias-columnas" data-toc-modified-id="Seleccionando-una-o-varias-columnas-4.7.1"><span class="toc-item-num">4.7.1&nbsp;&nbsp;</span>Seleccionando una o varias columnas</a></span></li><li><span><a href="#Seleccionando-una-o-varias-filas" data-toc-modified-id="Seleccionando-una-o-varias-filas-4.7.2"><span class="toc-item-num">4.7.2&nbsp;&nbsp;</span>Seleccionando una o varias filas</a></span></li><li><span><a href="#Seleccionando-un-dato" data-toc-modified-id="Seleccionando-un-dato-4.7.3"><span class="toc-item-num">4.7.3&nbsp;&nbsp;</span>Seleccionando un dato</a></span></li></ul></li></ul></li></ul></div>

# Guía de uso básica de Polars
------

## Coders
--------------
- Anchante Fernandez, Marcello
- Batalla Flores, Stephano

![](https://raw.githubusercontent.com/pola-rs/polars-static/master/logos/polars_github_logo_rect_dark_name.svg "Logo")

## Introducción
------------

### ¿Qué es Polars?

El paquete Polars es una biblioteca de análisis de datos de código abierto en Python que se centra en la manipulación de datos grandes y complejos. Polars proporciona una alternativa a Pandas y otras bibliotecas de análisis de datos, pero está diseñado específicamente para funcionar con conjuntos de datos más grandes que no caben en la memoria RAM.

Polars ofrece una amplia gama de características para el procesamiento de datos, como la selección, filtrado, agregación y transformación de datos. También proporciona herramientas para la creación de gráficos y visualizaciones de datos.

Una de las características más destacadas de Polars es su capacidad para trabajar con datos que superan los límites de la memoria RAM. Utiliza una estructura de datos llamada DataFrame Lazy-evaluated, que es una representación de datos que solo se carga en la memoria cuando se necesita.

En resumen, el paquete Polars es una biblioteca de análisis de datos de alto rendimiento para Python que se especializa en el procesamiento de grandes conjuntos de datos.

### Instalación de Polars

Para instalar Polars en nuestro sistema, ejecutamos el siguiente código

`!pip install polars`

Para ejecutar el paquete en el proyecto, escribimos el siguiente código

`import polars as pl`

### Datos a usar

Si deseas descargar la data utilizada, haz click en el siguiente [vínculo](https://drive.google.com/file/d/1DMjvgcPAYiO71LhaBxBELpUPnFN-bBHx/view?usp=sharing).

## Funciones 

-------------

### Función ```pl.read_csv()```


Al tratarse de un archivo '.csv', utilizaremos la función ```pl.read_csv()``` que nos permitirá leer cualquier archivo de este tipo con facilidad.
En este caso, utilizaremos un archivo local y especificaremos la codificación.
La función ```pl.head()``` nos permite mostrar las primeras 5 filas de la data.

In [42]:
import polars as pl

df = pl.read_csv('stud_perf_exam.csv',encoding="utf-8")
df

shape: (1_000, 8)
┌────────┬────────────────┬────────────────┬──────────────┬───────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level ┆ lunch        ┆ test          ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ of education   ┆ ---          ┆ preparation   ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---            ┆ str          ┆ course        ┆ i64        ┆ i64           ┆ i64           │
│        ┆                ┆ str            ┆              ┆ ---           ┆            ┆               ┆               │
│        ┆                ┆                ┆              ┆ str           ┆            ┆               ┆               │
╞════════╪════════════════╪════════════════╪══════════════╪═══════════════╪════════════╪═══════════════╪═══════════════╡
│ female ┆ group B        ┆ bachelor's     ┆ standard     ┆ none          ┆ 72         ┆ 72            ┆ 74            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ female ┆ group C        ┆ some college   ┆ standard     ┆ completed     ┆ 69         ┆ 90            ┆ 88            │
│ female ┆ group B        ┆ master's       ┆ standard     ┆ none          ┆ 90         ┆ 95            ┆ 93            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ male   ┆ group A        ┆ associate's    ┆ free/reduced ┆ none          ┆ 47         ┆ 57            ┆ 44            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ …      ┆ …              ┆ …              ┆ …            ┆ …             ┆ …          ┆ …             ┆ …             │
│ male   ┆ group C        ┆ high school    ┆ free/reduced ┆ none          ┆ 62         ┆ 55            ┆ 55            │
│ female ┆ group C        ┆ high school    ┆ free/reduced ┆ completed     ┆ 59         ┆ 71            ┆ 65            │
│ female ┆ group D        ┆ some college   ┆ standard     ┆ completed     ┆ 68         ┆ 78            ┆ 77            │
│ female ┆ group D        ┆ some college   ┆ free/reduced ┆ none          ┆ 77         ┆ 86            ┆ 86            │
└────────┴────────────────┴────────────────┴──────────────┴───────────────┴────────────┴───────────────┴───────────────┘

### Función `pl.columns`

Si deseamos tener la lista de las variables del archivo, escribimos `pl.columns`.

In [23]:
df.columns

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

### Función `pl.describe()`

Para tener medidas estadísticas de los datos como el número de datos, los datos nulos, media, mediana, etc; utilizaremos la función ```pl.describe()```.

In [24]:
df.describe()

shape: (9, 9)
┌────────────┬────────┬───────────────┬───────────────┬───┬───────────────┬────────────┬───────────────┬───────────────┐
│ describe   ┆ gender ┆ race/ethnicit ┆ parental      ┆ … ┆ test          ┆ math score ┆ reading score ┆ writing score │
│ ---        ┆ ---    ┆ y             ┆ level of      ┆   ┆ preparation   ┆ ---        ┆ ---           ┆ ---           │
│ str        ┆ str    ┆ ---           ┆ education     ┆   ┆ course        ┆ f64        ┆ f64           ┆ f64           │
│            ┆        ┆ str           ┆ ---           ┆   ┆ ---           ┆            ┆               ┆               │
│            ┆        ┆               ┆ str           ┆   ┆ str           ┆            ┆               ┆               │
╞════════════╪════════╪═══════════════╪═══════════════╪═══╪═══════════════╪════════════╪═══════════════╪═══════════════╡
│ count      ┆ 1000   ┆ 1000          ┆ 1000          ┆ … ┆ 1000          ┆ 1000.0     ┆ 1000.0        ┆ 1000.0        │
│ null_count ┆ 0      ┆ 0             ┆ 0             ┆ … ┆ 0             ┆ 0.0        ┆ 0.0           ┆ 0.0           │
│ mean       ┆ null   ┆ null          ┆ null          ┆ … ┆ null          ┆ 66.089     ┆ 69.169        ┆ 68.054        │
│ std        ┆ null   ┆ null          ┆ null          ┆ … ┆ null          ┆ 15.16308   ┆ 14.600192     ┆ 15.195657     │
│ min        ┆ female ┆ group A       ┆ associate's   ┆ … ┆ completed     ┆ 0.0        ┆ 17.0          ┆ 10.0          │
│            ┆        ┆               ┆ degree        ┆   ┆               ┆            ┆               ┆               │
│ max        ┆ male   ┆ group E       ┆ some high     ┆ … ┆ none          ┆ 100.0      ┆ 100.0         ┆ 100.0         │
│            ┆        ┆               ┆ school        ┆   ┆               ┆            ┆               ┆               │
│ median     ┆ null   ┆ null          ┆ null          ┆ … ┆ null          ┆ 66.0       ┆ 70.0          ┆ 69.0          │
│ 25%        ┆ null   ┆ null          ┆ null          ┆ … ┆ null          ┆ 57.0       ┆ 59.0          ┆ 58.0          │
│ 75%        ┆ null   ┆ null          ┆ null          ┆ … ┆ null          ┆ 77.0       ┆ 79.0          ┆ 79.0          │
└────────────┴────────┴───────────────┴───────────────┴───┴───────────────┴────────────┴───────────────┴───────────────┘

### Función `pl.select()`
Si deseamos seleccionar una o más columnas de la data, utilizamos la función `df.select(pl.col())`

#### Seleccionando una columna
Si solo deseamos seleccionar una columna, utilizamos `df.select(pl.col('NOMBRE DE LA COLUMNA'))`

In [53]:
df.select('gender')

shape: (1_000, 1)
┌────────┐
│ gender │
│ ---    │
│ str    │
╞════════╡
│ female │
│ female │
│ female │
│ male   │
│ …      │
│ male   │
│ female │
│ female │
│ female │
└────────┘

#### Seleccionando dos o más columnas
Si deseamos seleccionar varias columnas, utilizamos `df.select(pl.col(['nombre columna 1','nombre columna 2',...))`

In [54]:
df.select(['gender','math score'])

shape: (1_000, 2)
┌────────┬────────────┐
│ gender ┆ math score │
│ ---    ┆ ---        │
│ str    ┆ i64        │
╞════════╪════════════╡
│ female ┆ 72         │
│ female ┆ 69         │
│ female ┆ 90         │
│ male   ┆ 47         │
│ …      ┆ …          │
│ male   ┆ 62         │
│ female ┆ 59         │
│ female ┆ 68         │
│ female ┆ 77         │
└────────┴────────────┘

### Función `pl.with_columns()`

Si deseamos crear una nueva columna con valores de otras columnas, utilizamos `df.with_columns()`.
En este caso, crearemos una columna con los promedios de las notas de matemáticas, lectura e escritura.

In [41]:
df.with_columns(((
                pl.col('math score') +
                pl.col('reading score') +
                pl.col('writing score'))/3).alias('Promedio'))

shape: (1_000, 9)
┌────────┬────────────────┬────────────────┬──────────────┬───┬────────────┬───────────────┬───────────────┬───────────┐
│ gender ┆ race/ethnicity ┆ parental level ┆ lunch        ┆ … ┆ math score ┆ reading score ┆ writing score ┆ Promedio  │
│ ---    ┆ ---            ┆ of education   ┆ ---          ┆   ┆ ---        ┆ ---           ┆ ---           ┆ ---       │
│ str    ┆ str            ┆ ---            ┆ str          ┆   ┆ i64        ┆ i64           ┆ i64           ┆ f64       │
│        ┆                ┆ str            ┆              ┆   ┆            ┆               ┆               ┆           │
╞════════╪════════════════╪════════════════╪══════════════╪═══╪════════════╪═══════════════╪═══════════════╪═══════════╡
│ female ┆ group B        ┆ bachelor's     ┆ standard     ┆ … ┆ 72         ┆ 72            ┆ 74            ┆ 72.666667 │
│        ┆                ┆ degree         ┆              ┆   ┆            ┆               ┆               ┆           │
│ female ┆ group C        ┆ some college   ┆ standard     ┆ … ┆ 69         ┆ 90            ┆ 88            ┆ 82.333333 │
│ female ┆ group B        ┆ master's       ┆ standard     ┆ … ┆ 90         ┆ 95            ┆ 93            ┆ 92.666667 │
│        ┆                ┆ degree         ┆              ┆   ┆            ┆               ┆               ┆           │
│ male   ┆ group A        ┆ associate's    ┆ free/reduced ┆ … ┆ 47         ┆ 57            ┆ 44            ┆ 49.333333 │
│        ┆                ┆ degree         ┆              ┆   ┆            ┆               ┆               ┆           │
│ …      ┆ …              ┆ …              ┆ …            ┆ … ┆ …          ┆ …             ┆ …             ┆ …         │
│ male   ┆ group C        ┆ high school    ┆ free/reduced ┆ … ┆ 62         ┆ 55            ┆ 55            ┆ 57.333333 │
│ female ┆ group C        ┆ high school    ┆ free/reduced ┆ … ┆ 59         ┆ 71            ┆ 65            ┆ 65.0      │
│ female ┆ group D        ┆ some college   ┆ standard     ┆ … ┆ 68         ┆ 78            ┆ 77            ┆ 74.333333 │
│ female ┆ group D        ┆ some college   ┆ free/reduced ┆ … ┆ 77         ┆ 86            ┆ 86            ┆ 83.0      │
└────────┴────────────────┴────────────────┴──────────────┴───┴────────────┴───────────────┴───────────────┴───────────┘

### Funciones `pl.head()` y `pl.tail()`

Si deseamos ver los primeros datos de una data, utilizamos `df.head()`. En caso contrario, si deseamos ver los últimos datos, utilizamos `df.tail()`.

In [77]:
df.head()

shape: (5, 8)
┌────────┬────────────────┬────────────────┬──────────────┬───────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level ┆ lunch        ┆ test          ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ of education   ┆ ---          ┆ preparation   ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---            ┆ str          ┆ course        ┆ i64        ┆ i64           ┆ i64           │
│        ┆                ┆ str            ┆              ┆ ---           ┆            ┆               ┆               │
│        ┆                ┆                ┆              ┆ str           ┆            ┆               ┆               │
╞════════╪════════════════╪════════════════╪══════════════╪═══════════════╪════════════╪═══════════════╪═══════════════╡
│ female ┆ group B        ┆ bachelor's     ┆ standard     ┆ none          ┆ 72         ┆ 72            ┆ 74            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ female ┆ group C        ┆ some college   ┆ standard     ┆ completed     ┆ 69         ┆ 90            ┆ 88            │
│ female ┆ group B        ┆ master's       ┆ standard     ┆ none          ┆ 90         ┆ 95            ┆ 93            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ male   ┆ group A        ┆ associate's    ┆ free/reduced ┆ none          ┆ 47         ┆ 57            ┆ 44            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ male   ┆ group C        ┆ some college   ┆ standard     ┆ none          ┆ 76         ┆ 78            ┆ 75            │
└────────┴────────────────┴────────────────┴──────────────┴───────────────┴────────────┴───────────────┴───────────────┘

In [46]:
df.tail()

shape: (5, 8)
┌────────┬────────────────┬────────────────┬──────────────┬───────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level ┆ lunch        ┆ test          ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ of education   ┆ ---          ┆ preparation   ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---            ┆ str          ┆ course        ┆ i64        ┆ i64           ┆ i64           │
│        ┆                ┆ str            ┆              ┆ ---           ┆            ┆               ┆               │
│        ┆                ┆                ┆              ┆ str           ┆            ┆               ┆               │
╞════════╪════════════════╪════════════════╪══════════════╪═══════════════╪════════════╪═══════════════╪═══════════════╡
│ female ┆ group E        ┆ master's       ┆ standard     ┆ completed     ┆ 88         ┆ 99            ┆ 95            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ male   ┆ group C        ┆ high school    ┆ free/reduced ┆ none          ┆ 62         ┆ 55            ┆ 55            │
│ female ┆ group C        ┆ high school    ┆ free/reduced ┆ completed     ┆ 59         ┆ 71            ┆ 65            │
│ female ┆ group D        ┆ some college   ┆ standard     ┆ completed     ┆ 68         ┆ 78            ┆ 77            │
│ female ┆ group D        ┆ some college   ┆ free/reduced ┆ none          ┆ 77         ┆ 86            ┆ 86            │
└────────┴────────────────┴────────────────┴──────────────┴───────────────┴────────────┴───────────────┴───────────────┘

### Función `df[]`

Mientas función `pl.select()` nos permite seleccionar columnas, la función `df[]` nos permite seleccionar columnas, filas o datos de la tabla en específico.

#### Seleccionando una o varias columnas

In [78]:
df[: ,1:3].head()

shape: (5, 2)
┌────────────────┬─────────────────────────────┐
│ race/ethnicity ┆ parental level of education │
│ ---            ┆ ---                         │
│ str            ┆ str                         │
╞════════════════╪═════════════════════════════╡
│ group B        ┆ bachelor's degree           │
│ group C        ┆ some college                │
│ group B        ┆ master's degree             │
│ group A        ┆ associate's degree          │
│ group C        ┆ some college                │
└────────────────┴─────────────────────────────┘

In [79]:
df[:,['race/ethnicity','gender']].head()

shape: (5, 2)
┌────────────────┬────────┐
│ race/ethnicity ┆ gender │
│ ---            ┆ ---    │
│ str            ┆ str    │
╞════════════════╪════════╡
│ group B        ┆ female │
│ group C        ┆ female │
│ group B        ┆ female │
│ group A        ┆ male   │
│ group C        ┆ male   │
└────────────────┴────────┘

#### Seleccionando una o varias filas

In [93]:
df[4:10,:]

shape: (6, 8)
┌────────┬────────────────┬────────────────┬──────────────┬───────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level ┆ lunch        ┆ test          ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ of education   ┆ ---          ┆ preparation   ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---            ┆ str          ┆ course        ┆ i64        ┆ i64           ┆ i64           │
│        ┆                ┆ str            ┆              ┆ ---           ┆            ┆               ┆               │
│        ┆                ┆                ┆              ┆ str           ┆            ┆               ┆               │
╞════════╪════════════════╪════════════════╪══════════════╪═══════════════╪════════════╪═══════════════╪═══════════════╡
│ male   ┆ group C        ┆ some college   ┆ standard     ┆ none          ┆ 76         ┆ 78            ┆ 75            │
│ female ┆ group B        ┆ associate's    ┆ standard     ┆ none          ┆ 71         ┆ 83            ┆ 78            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ female ┆ group B        ┆ some college   ┆ standard     ┆ completed     ┆ 88         ┆ 95            ┆ 92            │
│ male   ┆ group B        ┆ some college   ┆ free/reduced ┆ none          ┆ 40         ┆ 43            ┆ 39            │
│ male   ┆ group D        ┆ high school    ┆ free/reduced ┆ completed     ┆ 64         ┆ 64            ┆ 67            │
│ female ┆ group B        ┆ high school    ┆ free/reduced ┆ none          ┆ 38         ┆ 60            ┆ 50            │
└────────┴────────────────┴────────────────┴──────────────┴───────────────┴────────────┴───────────────┴───────────────┘

#### Seleccionando un dato

In [95]:
df.head()

shape: (5, 8)
┌────────┬────────────────┬────────────────┬──────────────┬───────────────┬────────────┬───────────────┬───────────────┐
│ gender ┆ race/ethnicity ┆ parental level ┆ lunch        ┆ test          ┆ math score ┆ reading score ┆ writing score │
│ ---    ┆ ---            ┆ of education   ┆ ---          ┆ preparation   ┆ ---        ┆ ---           ┆ ---           │
│ str    ┆ str            ┆ ---            ┆ str          ┆ course        ┆ i64        ┆ i64           ┆ i64           │
│        ┆                ┆ str            ┆              ┆ ---           ┆            ┆               ┆               │
│        ┆                ┆                ┆              ┆ str           ┆            ┆               ┆               │
╞════════╪════════════════╪════════════════╪══════════════╪═══════════════╪════════════╪═══════════════╪═══════════════╡
│ female ┆ group B        ┆ bachelor's     ┆ standard     ┆ none          ┆ 72         ┆ 72            ┆ 74            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ female ┆ group C        ┆ some college   ┆ standard     ┆ completed     ┆ 69         ┆ 90            ┆ 88            │
│ female ┆ group B        ┆ master's       ┆ standard     ┆ none          ┆ 90         ┆ 95            ┆ 93            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ male   ┆ group A        ┆ associate's    ┆ free/reduced ┆ none          ┆ 47         ┆ 57            ┆ 44            │
│        ┆                ┆ degree         ┆              ┆               ┆            ┆               ┆               │
│ male   ┆ group C        ┆ some college   ┆ standard     ┆ none          ┆ 76         ┆ 78            ┆ 75            │
└────────┴────────────────┴────────────────┴──────────────┴───────────────┴────────────┴───────────────┴───────────────┘

In [98]:
df[0,3]

'standard'

In [100]:
df[0,'lunch']

'standard'